!!!
%html
  %head
    %title PuppetDB-Rundeck
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
  %body
    %h1 PuppetDB-Rundeck
    %p
      The puppetdb-rundeck application allows Rundeck to make use of the node and fact information stored in PuppetDB.
    %p
      Three API endpoints are provided which you can point Rundeck to:
      %ul
        %li
          %a(href="/api/xml") XML
        %li
          %a(href="/api/yaml") YAML
        %li
          %a(href="/api/json") JSON
    %p
    %p
      To set the cache settings for this API, see
      %a(href="/cache") here
