!!!
%html
  %head
    %title PuppetDB-Rundeck
  %body
    %h1 PuppetDB-Rundeck
    %p
      The puppetdb-rundeck application allows Rundeck to make use of the node and fact information stored in PuppetDB.
    %p
      Two API endpoints are provided which you can point Rundeck to:
      %ul
        %li
          %a(href="/api/xml") XML
        %li
          %a(href="/api/yaml") YAML