!!!
%html
  %head
    %title PuppetDB-Rundeck
  %body
    %h1 PuppetDB-Rundeck
    %h2 Cache settings
    %p
      The puppetdb-rundeck resource api caches data for a default time of 30 mins.
    %p
      To clear the cache click
      %a(href="/cache/clear") here
